body{
    background: radial-gradient(#e5e5e5 , #ffff , #e5e5e5);
}


.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important; 
    transform: scale(1.03);
    transition:all ease-in 100ms;
}

.card-body{
    padding: 3rem;
    overflow: hidden;
    
}



